* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

header {
  background-color: indigo;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header h1 {
  font-weight: bold;
  font-size: 46px;
  color: #FFFFFF;
  margin: 0;
}  

header nav ul li {
  display: inline;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
}

header a {
  text-decoration: none;
  color: #FFFFFF;
}
header nav {
  margin: 7px 0;
}


.hero {
  background-image: url("../images/high-resolution-galaxy-background.jpg");
  height: 200px;
  background-size: cover;
  background-position: center;
  position: relative;
}
.hero h3 {
    color: #FFFFFF;
    display: flex;
    justify-content: right;
  }

.sidebar {
    position: bottom;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    color: indigo;
    font-size: 42px;
  }

  .section-title {
    font-size: 42px;
    color: indigo;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    border-right: 3px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: right;
  }

.primary-border {
  border-color: indigo;
}

.flex-container {
  display: flex;
  margin: auto;
  flex: wrap;
  justify-content: space-around;
     
}

.column {
  float: left;
  width: 100%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}